<link rel="stylesheet" href="css/style.css">

<center>
<header>Welcome to my ISBN validator!</header><br>
<br>
<body>
<div class="box">
Please enter your ISBN below<br>
<br>
<form method = 'post' action = '/home'>
<%if tencheck == "yes"%>
Isbn10: <input type="text" placeholder="example 0-330-28498-3" pattern="[-a-zA-Z0-9\s]{3,}" min="10"  maxlength="27" name="isbn10" required>
<br><br>
<%end%>
<%if threecheck == "yes"%>
Isbn13: <input type="text" placeholder="example 978-0-13-149505-0" pattern="[-a-zA-Z0-9\s]{3,}" min="13"  maxlength="27" name="isbn13" required><br>
<br>
<%end%>
<button type="submit">Submit</button>
<button type="button" onclick="window.location.href='/'"/>Reset</button>
<br><br>
<input type="hidden" name="ten" value="<%=tencheck%>">
<input type="hidden" name="thirteen" value="<%=threecheck%>">
</form>
</div>
</body>
</center>