<link rel="stylesheet" href="css/style.css">

<center>
<header>Welcome to my ISBN validator!</header><br>
<br>
<body>
<div class="box">
Please enter your ISBN below<br>
<br>
<form id="myForm" method = 'post' action = '/home'>
<%if isbncheck == "yes"%>
ISBN: <input type="text" placeholder="example 0-330-28498-3" pattern="[-a-zA-Z0-9\s]{3,}" min="10"  maxlength="27" name="isbn" required>
<br><br>
<%end%>
<%if csvcheck == "yes"%>
Select a CSV file: <input type="file" id="myFile" name="myFile" accept=".csv"><br><br>
<%end%>
<button>Submit</button>
<button type="button" onclick="window.location.href='/'"/>Reset</button>
<br><br>
<input type="hidden" name="threeten" value="<%=isbncheck%>">
<input type="hidden" name="csvfile" value="<%=csvcheck%>">
</form>
</div>
</body>
</center>

<script>
function triggerValidation() {
    var el = document.getElementById("myFile")
    console.log(el.files[0].name.substr(-3, 3));

    
     if (el.files[0].name.substr(-3, 3) != "csv") {
        alert('Please use csv files');
    } else {
        document.getElementById("myForm").submit();
  }
}
</script> 