<link rel="stylesheet" href="css/style.css">

<center>
<header>Welcome to my ISBN validator!</header>
<br>
<div class="box">
<body>
Would you like to check:<br>
<br>
<form id="myForm" method = 'post' action = '/landing'>
ISBN10?<input class="mycheck" type="checkbox" name="ten" value="yes"><br>
<br>
ISBN13?<input class="mycheck" type="checkbox" name="thirteen" value="yes"><br>
<br>
Check a CSV file?<input class="mycheck" type="checkbox" name="csvfile" value="yes"><br>
<br>
<button type="button" onclick="valthis()">Submit</button><br>
<br>
</form>
</div>
</body>
</center>


<script>
function valthis() {
var checkBoxes = document.getElementsByClassName('mycheck');
var isChecked = false;
    for (var i = 0; i < checkBoxes.length; i++) {
        if ( checkBoxes[i].checked ) {
            isChecked = true;
        };
    };
    if ( isChecked ) {
        document.getElementById("myForm").submit();
    } else {
        alert( 'Please, check at least one checkbox!' );
    }   
}
</script>