<link rel="stylesheet" href="css/style.css">
<center>
<header>Welcome to my ISBN validator!</header>
<br>
<div class="box">
<body>
Results:<br>
<br>
<%if tencheck == "yes"%>
<%=avalidation%> is a <%=isbn10%> isbn10<br>
<br>
<%end%>
<%if threecheck == "yes"%>
<%=bvalidation%> is a <%=isbn13%> isbn13<br>
<br>
<%end%>
<button type="button" onclick="window.location.href='/'">Reset</button>
<br>
<br>
</body>
</div>
</center>
