<link rel="stylesheet" href="css/style.css">
<center>
<header>Welcome to my ISBN validator!</header>
<br>
<div class="box">
<body>
Results:<br>
<br>
<%if isbncheck == "yes"%>
<%=tested.to_s.gsub("\""," ").gsub("\]", "").gsub("\[", "")%><br>
<br>
<%end%>
<%if csvfile == "yes"%>
<%tested.each do |v|%>
<%=v.to_s.gsub("\""," ").gsub("\]", "").gsub("\[", "") + "\n"%>
<br>
<%end%>
<%end%>
<br>
<button type="button" onclick="window.location.href='/'">Reset</button>
<br>
<br>
</body>
</div>
</center>
